.login-form-container{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #039be6;
}
.login-form-container .left{
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.login-form-container .left img{
  width: 60%;
}
.login-form-container .left h1{
  color: #fff;
  font-size: 1.2rem;
}
.login-form-container .login-content{
  width: 20%;
  height: 80%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(159,162,177,.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-form-container .login-content h1{
  font-size: 1.8rem;
  color: #f39d00;
}
.login-form-container .login-content .login-form{
  height: 60%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.login-form-container .login-content .login-form button{
  background-color: #f39d00;
  border: 1.5px solid #f39d00;
  padding: 0.6rem 1rem;
  border-radius: 4px;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
}

.login-form-container .login-content .login-form button:hover{
  background-color: transparent;
  color: #f39d00;
}

.login-form-container .login-content .google-login{
  background-color: orangered;
  border: 1.5px solid orangered;
  padding: 0.6rem 1rem;
  border-radius: 4px;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
}

.login-form-container .login-content .google-login:hover{
  background-color: transparent;
  color: orangered;
}